{% extends 'base.html.twig' %}

{% block title %}Hello NewsletterController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    This friendly message is coming from:
    <div class="row row-cols-1 row-cols-md-3">

    {% for newsletter in newsletters %}
            <div class="col mb-4">
                <div class="card">
                    <img src="https://placekitten.com/640/360" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{newsletter.name}}</h5>
                        <a href="{{ path('newsletter_show', {'name': newsletter.name}) }}">{{ 'app.newsletter.show'|trans }}</a>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
