Bienvenu {{ subscriber.name }},
    Vous recevez cet email car vous etes abonné a la newsletter {{ newsletter.name }}.
    Ce n'est pas du SPAM :)

cliquez <a href="{{ delete_url }}">ici </a> pour vous désinscrire
